.container{
    position: relative;
    width: 97%;
    height: 350px;
    margin: 10px;
    padding: 15px;
    background-color: rgb(61, 190, 100);
    text-align: center;
}
footer{
    position: absolute;
    margin-left:45%;
    bottom: 0;
}
