body {
    background-image: url(https://i.pinimg.com/564x/57/8d/15/578d1533fb9eafb68b725b16b1b0c1c2.jpg);
    color: rgb(255, 255, 255);
    text-align-last: center;
}
h1{
    background-color: rgb(31, 58, 80);
    color: rgba(236, 230, 230, 0.836);
    text-align-last: center;
    text-shadow: 2px 2px 5px rgb(33, 150, 218);
}
div {
    top: -310px;
    left: 46%;
    text-align-last: left;
    position: relative;
    align-self: center;
}
.textão {
    text-indent: 200px;
}
.foto {
    left: 30%;
    top: 10px;
    position: relative;
    text-align-last: left;
}
.resto {
    top: -280px;
    left: 0px;
    text-align-last: center;
    position: relative;
    align-self: center;
}
